@model IEnumerable<string>
@{
    ViewData["Title"] = "Upload Image";
}

<div class="text-center">
    <h4 class="display-4">Dodaj obraz</h4>
    <form asp-action="UploadImage" method="post" enctype="multipart/form-data">
        <div>
            <label for="file">Wybierz plik:</label>
            <input type="file" name="file" accept="image/*" required/>
        </div>
        <br />
        <div>
            <button type="submit">Upload Image</button>
        </div>
    </form>
</div>