html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.list-container {
    display: flex;
    justify-content: space-around; /* Adjust as needed */
    align-items: center;
    background-color: #f0f0f0; /* Background color for the container */
}